body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 67, 86, 0.8);
  overflow-x: hidden;
}

.container {
  height: auto;
  width: 40%;
  border-radius: 20px;
  padding: 50px;
  margin: 50px 0;

  /* justify-content: center;
  align-items: center; */
  background-image: linear-gradient(to bottom left, #e4dfec, white, white);
}
.sub-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  width: 100%;
  gap: 50px;
  height: max-content;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header button {
  height: max-content;
  width: max-content;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: #9088d2;
}

.header button:hover {
  cursor: pointer;
}

.view,
.breakup {
  width: 50%;
}
.details input {
  width: 100%;
}

.detail {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

/*----- Styling the sliders ----*/
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #9088d2;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9088d2;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b3b3b3;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #9088d2;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  border-radius: 10px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9088d2;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #9088d2;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  border-radius: 10px;
}

input[type="range"]::-ms-fill-lower {
  background: #9088d2;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #9088d2;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9088d2;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #9088d2;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #9088d2;
}

/*-------------------------------------*/
#price {
  color: #130f31;
  font-size: 25px;
}

.loan-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#price-container {
  color: #9088d2;
  margin-top: 50px;
}

#price-container::before {
  content: "Monthly Payable:";
  font-size: 12px;
  display: block;
}

.chart-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pieChart {
  width: 150%;
}

@media only screen and (max-width: 720px) {
  .container {
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  .sub-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .loan-details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  /* .sub-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      } */
}
